.result{
    height: 60px;
    background-color: #bbb;
    width: 100%;
}
.result p{
    font-size: 40px;
    margin: 5px;
}
.button{
    display: block;
    background-color: #bbb;
}
.tit{
    text-align: center;
    display: block;
    text-decoration: underline;
}
.calculator-body{
    margin: auto;
    max-width: 400px;
}
.content{
    background-color: azure;
    height: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
}
button{
    width: 25%;
    height: 60px;
    font-size: 30px;
}
